<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">
	<select id="count" resultType="int">
		select count(*) from bbs_t
	</select>
	
	<select id="plist" parameterType="Map" resultType="com.ict.db.BVO">
		select * 
		from(
			select ROW_NUMBER() OVER() AS r_no , a.*
			from (SELECT * FROM bbs_t ORDER BY b_idx) AS a
		) AS TB
		WHERE TB.r_no BETWEEN #{begin} AND #{end};
	</select>

	<select id="list" resultType="com.ict.db.BVO">
		select * from bbs_t order by b_idx
	</select>
	
	<select id="clist" parameterType="String"  resultType="com.ict.db.CVO">
		select * from comment_t 
		where b_idx=#{b_idx}
		order by c_idx desc
	</select>
	
	<select id="onelist" parameterType="String" resultType="com.ict.db.BVO">
		select * from bbs_t where b_idx = #{b_idx}
	</select>
	
	<insert id="insert_1" parameterType="com.ict.db.BVO">
		insert into bbs_t
		values(NEXT VALUE FOR bbs_t_seq, #{subject}, #{writer}, #{content}, #{filename}, #{pwd}, sysdate(), 0);
	</insert>
	
	<insert id="insert_2" parameterType="com.ict.db.CVO">
		insert into comment_t
		values(NEXT VALUE FOR comment_t_seq, #{writer}, #{content}, #{pwd}, sysdate(), #{b_idx})
	</insert>
	
	<update id="hitup" parameterType="String">
		update bbs_t
		set hit = hit + 1
		where b_idx = #{b_idx}
	</update>
	
	<update id="update_1" parameterType="com.ict.db.BVO">
		update bbs_t
		set subject=#{subject}, writer=#{writer}, content=#{content}, filename=#{filename}
		where b_idx=#{b_idx}
	</update>
	
	<update id="update_2" parameterType="com.ict.db.CVO">
		
	</update>
	
	<delete id="delete_1" parameterType="String">
		delete from bbs_t
		where b_idx=#{b_idx}
	</delete>
	
	<delete id="delete_2" parameterType="String">
		delete from comment_t
		where c_idx=#{c_idx}
	</delete>
	
</mapper>
